/* product item */
.product-slider-horizontal .item {
  overflow: hidden;
  position: relative;
}
.product-slider-horizontal .item .img {
  overflow: hidden;
}
.product-slider-horizontal .item .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s, -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-slider-horizontal .item:hover .img img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: 1.25s cubic-bezier(0.26, 0.54, 0.32, 1) forwards ani-fadeIn;
  animation: 1.25s cubic-bezier(0.26, 0.54, 0.32, 1) forwards ani-fadeIn;
}
.product-slider-horizontal .woocommerce-pr-object {
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
/* product detail */
.products-detail {
  /** PRODUCT SOCIAL */
  /** PRODUCT GALERRY */
  /* PRODUCT TAB */
  /* PRODUCT SUPPORT */
}
.products-detail h1 {
  font-size: 25px!important;
  line-height: 30px;
  margin-bottom: 10px;
}
.products-detail .product-detail-brand {
  font-weight: bold;
  margin-bottom: 5px;
}
.products-detail .product-detail-code {
  color: #191919;
  margin-bottom: 10px;
}
.products-detail .product-detail-code span {
  color: #999999;
}
.products-detail .price {
  margin-bottom: 10px!important;
}
.products-detail .wcmc-price-detail .price,
.products-detail .wcmc-price-detail .price-sale {
  display: inline-block;
}
.products-detail .wcmc-price-detail .price {
  font-size: 28px!important;
}
.products-detail .wcmc-price-detail .price-sale {
  color: #999;
}
.products-detail .social-block img {
  width: 30px;
  margin-right: 10px;
  position: relative;
  z-index: 9;
}
.products-detail .social-block .social-btns .btn,
.products-detail .social-block .social-btns .btn:before,
.products-detail .social-block .social-btns .btn .fab {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.products-detail .social-block .social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  padding: 5px;
}
.products-detail .social-block .social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
}
.products-detail .social-block .social-btns .btn .fab {
  font-size: 20px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.products-detail .social-block .social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.products-detail .social-block .social-btns .btn.facebook .fab {
  color: #3b5998;
}
.products-detail .social-block .social-btns .btn.twitter:before {
  background-color: #3cf;
}
.products-detail .social-block .social-btns .btn.twitter .fab {
  color: #3cf;
}
.products-detail .social-block .social-btns .btn.google:before {
  background-color: #dc4a38;
}
.products-detail .social-block .social-btns .btn.google .fab {
  color: #dc4a38;
}
.products-detail .social-block .social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.products-detail .social-block .social-btns .btn.dribbble .fab {
  color: #f26798;
}
.products-detail .social-block .social-btns .btn.skype:before {
  background-color: #00aff0;
}
.products-detail .social-block .social-btns .btn.skype .fab {
  color: #00aff0;
}
.products-detail .social-block .social-btns .btn:focus:before,
.products-detail .social-block .social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.products-detail .social-block .social-btns .btn:focus .fab,
.products-detail .social-block .social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.products-detail .social-block .social-btns .btn:hover img {
  filter: saturate(8);
}
.products-detail .product-thumb-vertical {
  position: relative;
}
.products-detail .product-thumb-vertical ul.owl-carousel {
  list-style: none;
  display: block;
}
@media (max-width: 768px) {
  .products-detail .product-thumb-vertical ul.owl-carousel {
    margin: 10px 0;
  }
}
@media (max-width: 740px) {
  .products-detail .product-thumb-vertical ul.owl-carousel #list-product-thumb {
    margin-right: -5px;
    margin-left: -5px;
  }
}
.products-detail .product-thumb-vertical .slick-prev i,
.products-detail .product-thumb-vertical .slick-next i {
  background-color: var(--theme-color);
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}
.products-detail .product-thumb-vertical .slick-prev:before,
.products-detail .product-thumb-vertical .slick-next:before {
  display: none;
}
.products-detail .product-thumb-vertical .slick-arrow {
  border: 0;
  z-index: 99;
}
@media (min-width: 741px) {
  .products-detail .product-thumb-vertical .slick-arrow.slick-prev {
    opacity: 0;
    top: 13px;
    left: 50%;
    margin-left: -15px;
    transition: all 0.5s;
  }
  .products-detail .product-thumb-vertical .slick-arrow.slick-next {
    opacity: 0;
    top: auto;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    transition: all 0.5s;
  }
}
@media (max-width: 740px) {
  .products-detail .product-thumb-vertical .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
  }
  .products-detail .product-thumb-vertical .slick-arrow.slick-prev {
    left: 10px;
  }
  .products-detail .product-thumb-vertical .slick-arrow.slick-next {
    right: 20px;
  }
}
@media (min-width: 741px) {
  .products-detail .product-thumb-vertical:hover .slick-arrow.slick-prev {
    opacity: 1;
  }
  .products-detail .product-thumb-vertical:hover .slick-arrow.slick-next {
    opacity: 1;
  }
}
.products-detail .product-thumb-vertical .product-thumb {
  position: relative;
}
.products-detail .product-thumb-vertical .product-thumb a {
  display: block;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 0 5px 0;
}
.products-detail .product-thumb-vertical .product-thumb a img {
  height: 70px;
  width: 100%;
  object-fit: cover;
}
.products-detail .product-thumb-vertical .product-thumb a.zoomGalleryActive,
.products-detail .product-thumb-vertical .product-thumb a:hover {
  border-color: red;
}
.products-detail .product-thumb-vertical .product-thumb svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-1rem, -1rem, 0);
  transform: translate3d(-1rem, -1rem, 0);
}
@media (max-width: 740px) {
  .products-detail .product-thumb-vertical .product-thumb a {
    margin: 0px 5px;
  }
  .products-detail .product-thumb-vertical .product-thumb a img {
    height: 100px;
  }
}
@media (max-width: 740px) {
  .products-detail .box-image-featured {
    min-height: 300px;
    transition: all 0.5s;
  }
}
.products-detail .product-thumb-horizontal {
  position: relative;
  margin: 10px 0;
}
.products-detail .product-thumb-horizontal #list-product-thumb {
  list-style: none;
}
.products-detail .product-thumb-horizontal .product-thumb {
  position: relative;
  margin: 0 5px;
}
.products-detail .product-thumb-horizontal .product-thumb svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-1rem, -1rem, 0);
  transform: translate3d(-1rem, -1rem, 0);
}
.products-detail .product-thumb-horizontal .product-thumb a {
  margin: 5px 0;
}
.products-detail .product-thumb-horizontal .product-thumb img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.products-detail .tab-content > .tab-pane {
  border: 0px solid #ccc !important;
}
.products-detail .nav-tabs > li {
  margin-bottom: -1px !important;
}
.products-detail .nav-tabs > li.active > a,
.products-detail .nav-tabs > li.active > a:focus,
.products-detail .nav-tabs > li.active > a:hover {
  border: 0px solid #ccc !important;
  border-top: 0px solid #ccc !important;
  border-bottom: 2px solid #ccc !important;
}
.products-detail .products-detail-box {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
}
.products-detail .products-detail-box h4 {
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--theme-color);
  margin: 0;
}
.products-detail .policy_intuitive .for-mobile ul.policy_new {
  position: relative;
  overflow: hidden;
}
.products-detail .policy_intuitive .for-mobile ul.policy_new li {
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.products-detail .policy_intuitive .for-mobile ul.policy_new li img {
  flex: 1;
  margin-right: 2px;
  padding: 3px;
  width: 35px;
  max-width: 35px;
}
.products-detail .policy_intuitive .for-mobile ul.policy_new li img > p {
  flex: 1;
  margin-bottom: 0;
  font-size: 14px;
  padding-left: 10px;
  line-height: 22px;
}
.products-detail .policy_intuitive .for-mobile ul.policy_new li img > p b {
  font-weight: 500;
}
.products-detail .policy_intuitive .list-item {
  overflow: hidden;
}
.products-detail .policy_intuitive .pr-item {
  overflow: hidden;
  margin-bottom: 10px;
}
.products-detail .policy_intuitive .pr-item .img {
  float: left;
  width: 50px;
  padding: 8px;
}
.products-detail .policy_intuitive .pr-item .img img {
  max-width: 100%;
}
.products-detail .policy_intuitive .pr-item .title {
  float: left;
  width: calc(100% - 50px);
}
.products-detail .policy_intuitive .pr-item .title h4 {
  font-size: 14px;
  text-align: left;
  color: var(--theme-color);
}
.products-detail .policy_intuitive .pr-item .title p {
  flex: 1;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
}
.products-detail .onlineSupport .supportimage {
  height: 150px;
  display: block;
  position: relative;
}
.products-detail .onlineSupport .supportimage img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.products-detail .onlineSupport .supportTitle {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0;
}
.products-detail .onlineSupport .supportTitle3 {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  font-weight: normal;
}
.products-detail .onlineSupport .phoneNumber {
  width: 100%;
  margin-top: 10px;
  display: block;
  text-align: center;
  line-height: 1.1;
}
.products-detail .onlineSupport .phoneNumber a {
  font-size: 29px;
  font-weight: 600;
  color: var(--theme-color);
  text-decoration: none;
}
.products-detail .onlineSupport .or {
  width: 100%;
  margin: 10px 0;
  color: #7a7d8d;
  text-align: center;
  line-height: 1.1;
}
.products-detail .onlineSupport .or span {
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  transform: translateY(50%);
  font-size: 13px;
}
.products-detail .onlineSupport .or:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #ededed;
}
.products-detail .onlineSupport .chatNow {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.1;
}
.products-detail .products-viewed .box-content {
  border: 0;
}
/* product alert */
.alert {
  margin-bottom: 30px;
  padding: 20px 55px 20px 90px;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.alert .alert_icon {
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.alert a.close {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 20px;
  line-height: 20px;
}
.alert a.close i {
  margin: 0!important;
  color: rgba(0, 0, 0, 0.6);
}
.alert a.close:hover i {
  color: rgba(0, 0, 0, 0.8);
}
.alert.alert_warning {
  background: #ffe38b;
  color: #fff;
}
.alert.alert_warning .alert_icon {
  background: #fbda72;
}
.alert.alert_warning a,
.alert.alert_warning a:hover {
  color: #645012;
}
.alert.alert_error {
  background: #fb5455;
  color: #fff;
}
.alert.alert_error .alert_icon {
  background: #f24143;
}
.alert.alert_error a,
.alert.alert_error a:hover {
  color: #9f2e2e;
}
.alert.alert_info {
  background: #3097db;
  color: #fff;
}
.alert.alert_info .alert_icon {
  background: #1c81c4;
}
.alert.alert_info a,
.alert.alert_info a:hover {
  color: #b1e0ff;
}
.alert.alert_success {
  background: #a5de5c;
  color: #fff;
}
.alert.alert_success .alert_icon {
  background: #8fc944;
}
.alert.alert_success a,
.alert.alert_success a:hover {
  color: #5d9514;
}
/*# sourceMappingURL=scmc-style.css.map */