.item-pr {
    overflow:hidden; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding:5px;
}
.item-pr .item-pr__img { float:left; }
.item-pr .item-pr__img img { width:30px; height:30px; }
.item-pr .item-pr__title, .item-pr .item-pr__price {
    float:left;
    -webkit-box-flex: 1; -webkit-flex: 1 1 0%; -ms-flex: 1 1 0%; flex: 1 1 0%;
    padding: 7px; max-width: 100%; min-width: 0; color: #31373d;
}
.item-pr .item-pr__price {  float:right; }